secrets:
  utils:
    rabbitmq:
      username: user
      password: password
    godaddyWebhook:
      apiKey: "get this from godaddy cabinet"
  banking:
    identity:
      jwtSecret: "XCAP05H6LoKvbRRa/QkqLNMI7cOHguaRyHzyg7n5qEkGjQmtBhz4SzYh4Fqwjyi3KJHlSXKPwVu2+bXr6CtpgQ=="
    identityNotifier:
      smtpUsername: test@gmail.com
      smtpPassword: password
      smtpFrom: test@gmail.com
      smtpHost: smtp.gmail.com
      smtpPort: 587
  dev:
    oauth2:
      clientID: githubId
      clientSecret: githubClientSecret
      cookieSecret: githubCookieSecret
      githubUser: test
    kibana:
      encryptionKey: qweqweqweqweqweqweqweqweqweqweqw
    elasticSearch:
      username: elastic
      password: elastic
